.footer {
    width: 100%;
    height: 397px;
    background-color: #8C8C8C;
    color: #EBEBEB;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: calc(100vw + 112px);
        max-width: calc(1440px + 112px);
        display: flex;

    ul:first-child {
        margin-left: 56px;
    }

    ul {
        list-style: none;
        margin: 0 12px;
        padding: 0;


        li {
            width: 200px;
            padding: 4px 0;


            a {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #EBEBEB;
                text-decoration: none;

            }
        }
    }
}
}

@media screen and (max-width: 960px) {
    .footer {
        display: none;
    }
}
