.gallery {
  width: 100%;
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .gallery-wrapper {
    width: 100%;
    box-sizing: border-box;

    h1 {
      margin-top: 0px;
      margin-bottom: 50px;
      font-style: $font-style;
      font-weight: 600;
      font-size: $h1-medium;
      line-height: 100%;
      text-align: center;
    }

    .gallery-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .gallery-inner-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;

        img {
          width: 95%;
        }
        video {
          width: 95%;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .gallery {
    .gallery-wrapper {
      max-width: 1440px;
      h1 {
        font-size: $h1-large;
        margin-bottom: 150px;
      }

      .gallery-container {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .gallery-inner-container{
          width: 33%;
          margin-bottom: 100px;

          display: flex;
          justify-content: center;
          align-items: center;


          img {
            width: 80%;
          }

          video {
            height:340px;
            width:420px;
          }
        }
      }
  }
}
}
