header {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40px);
    height: 100px;
    padding: 20px 0px 20px 40px;

    .logo {
        width: 184.58px;
        height: 37.5px;
    }

    .menu-menu-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        .menu-item-has-children {
            a:nth-last-child(2)::after {
                content: '\25BE';
                font-size: 14px;
                margin-left: 5px;
            }
        }

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 0;
            width: 120px;

            
            .sub-menu {
                display: flex;
                visibility: hidden;
                flex-direction: column;
                padding-inline-start: 0px;
                font-size: 12px;
                padding: 15px 0;

                a {
                    margin: 15px 0;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            a {
                color: #FFFFFF;
                text-decoration: none;
                padding: 0 20px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
            }

            a + .sub-menu:active,
a:focus + .sub-menu {
    visibility: visible;
}

        }
        
    }
}