.home {
  margin: 0px;
  padding: 0px;
  background-color: $color-dark;
  width: 100%;

  .loader-wrap{
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;

    .loader-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .img {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .animation-container {
        position: absolute;
      }
    }
  }

    .home__wrapper {
      width: 100%;
      box-sizing: border-box;

      .home__first-view {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-bottom: 1px;
        .home__hero-img {
          width: 100%;
          height: 100vh;
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
        }

        .home__header {
          width: 100%;
          z-index: 1;
          height: 100vh;
          position: absolute;

          .home__header-container {
            height: 33%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
              margin: 0px;
              padding: 0px;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
            p {
              text-align: center;
              margin: -30px 0px 0px 0px;
              padding: 0px;
              width: 330px;
              line-height: 130%;
              font-size: 24px;
              font-style: normal;
              font-weight: bold;
            }

            a {
              text-decoration: none;
              color: $color-light;
              border-bottom: 1px solid currentColor;
              display: inline-block;
              line-height: 0.90;
            }

            .home__header-container-inner {
              margin-top: 95px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              h3 {
                margin: 0px;
                padding: 0px;
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                line-height: 150%;
              }

              .home__arrow-button {
                width: 40px;
                height: 40px;
                margin-top: 15px;

                a {
                  border-bottom: none;
                }

                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

          }
        }
      }


      .home__secound-view{
        .home__event-wrapper {
          width: 100%;
          height: 900px;
          background-color: red;
        }
      }
    }
}

.home__desktop{
  visibility: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
  pointer-events: none;
}

@media screen and (min-width: 960px){
  .home {

      .home__wrapper {

        .home__first-view {

          .home__header {

            .home__header-container {

              h1 {
                margin: 0px;
                padding: 0px;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
              }
              p {
                text-align: center;
                margin: -40px 0px 0px 0px;
                padding: 0px;
                width: 550px;
                line-height: 130%;
                font-size: $h1-medium;
                font-style: normal;
                font-weight: bold;
              }

              a {
                text-decoration: none;
                color: $color-light;
                border-bottom: 2px solid currentColor;
                display: inline-block;
                line-height: 0.90;
              }

              .home__header-container-inner {

                h3 {
                  margin: 0px;
                  padding: 0px;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 130%;
                }

              }

            }
          }
        }


        .home__secound-view{
          .home__event-wrapper {

          }
        }
      }
  }

  .home__desktop{
    visibility: visible;
  }

  .home__mobile{
    visibility: hidden;
  }

}
