section {
  padding-top: 0;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: 1;

  .bg-img-blog {
    width: 100vw;
    left: 0;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100vw;
      height: auto;
    }

    h2 {
      position: absolute;
    }
  }

  .news-wrapper {
    padding-bottom: 100px;

    .news-container:hover {
      transform: scale(1.02);
      opacity: 1;
      cursor: pointer;
    }

    .news-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 40px 0;
      height: auto;
      background-color: $color-dark01;
      border: 1px solid $color-dark09;
      transition: all ease-in 0.2s;
      opacity: 0.9;

      .news-img {
        width: 174px;
        max-height: 145px;
        height: auto;
        object-fit: cover;
        margin-right: 28px
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 597px;
        height: auto;
        min-height: 103px;
        max-height: 145px;
        padding: 16px 0;

          h3 {
            margin: 0;
            margin-top: 8px;
          }

          a {
            margin: 4px 0px;
            text-decoration: none;
            color: #EBEBEB;
          }

          .date {
            font-family: Roboto; 
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            margin: 0;
            color: #EBEBEB;
          }
          
          .summary {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: #EBEBEB;
          }
        }
      }
    }
  }

  @media screen and (max-width: 960px) {

    .news {

      .bg-img-blog {
        width: 100vw;
        height: 200px;
        display: absolute;
        left: 0;
        margin-top: 100px;
        z-index: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img {
          display: none;
        }
    
        h2 {
          position: absolute;
          margin: 0;
          margin-right: 16px;
        }
      }
    
      h1 {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 48px;
        margin-top: 0;
      }
    
      ul :first-child {

        a:first-of-type{
          font-size: 24px !important;
        }

      }
    
      ul :nth-of-type(2) {

        a:first-of-type{
          font-size: 24px !important;
        }

      }
    
      .news-wrapper {
        padding-inline-start: 0px;
        max-width: 600px;
        padding-bottom: 16px;
    
        .news-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: calc(100vw -32px);
          margin: 40px 16px;
          padding: 0;
    
          .news-img {
            min-height: 174px;
            height: 70%;
            width: 100%;
            object-fit: cover;
            padding: 0;
            margin: 0;
            margin-bottom: 8px;
          }
    
          .text-container {
            display: flex;
            flex-direction: column;
            max-width: 675px;
            margin: 0 8px;
            padding: 8px 0;
    
            h3 {
              line-height: 130%;
              margin-top: 0;
              font-weight: 600;
              font-size: 24px;
            }

            a {
              margin: 4px 0px;
              line-height: 130%;
              text-decoration: none;
            }
    
            .date {
              font-family: EB Garamond;
              font-size: 14px;
              font-weight: 500;
              line-height: 150%;
              margin: 0;
              padding-bottom: 4px;
              color: #AFAFAF;
            }
          }
        }
      }
    }
  }