.operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark01;

    .house {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        .house-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 1328px;
            margin: 0;
            margin-top: 197px;
            margin-bottom: 210px;
            padding: 0 217px;

            h2 {
                margin-bottom: 16px;
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #EBEBEB;
                margin-top: 0;
                margin-bottom: 0;
            }

            h3 {
                font-family: EB Garamond;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: #EBEBEB;
            }
        }

    }

    .operations-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        .operations-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 1328px;
            margin: 0;
            margin-top: 120px;
            margin-bottom: 210px;
            padding: 0 217px;

            h3 {
                margin: 0;
                margin-bottom: 8px;
                font-size: 24px;
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #EBEBEB;
                margin: 0;
                margin-bottom: 56px;
            }
        }
    }

    .section-heding {
        width: 100vw; 
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        div {
            width: 100vw;
            display: flex;
            justify-content: flex-start;
            max-width: 1328px;
            padding: 0 217px;

        h2 {
            padding: 0px 0;
            text-align: left;
        }

    }
}
}

@media screen and (max-width: 960px) {
    .operations {
        overflow-x: hidden;
    
        .house {
    
            .house-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: auto;
                margin: 0;
                margin-top: 127px;
                margin-bottom: 52px;
                padding: 0 17px;
    
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
    
                h3 {
                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 150%;
                    color: #EBEBEB;
                    margin-top: 40px;
                    margin-bottom: 8px;
                }
            }
    
        }
    
        .operations-div {
    
            .operations-wrapper {
                max-width: auto;
                margin: 0;
                margin-top: 68px;
                margin-bottom: 84px;
                padding: 0 17px;
    
                h3 {
                    margin: 0;
                    margin-bottom: 8px;
                }
    
                p {
                    margin-bottom: 40px;
                }
            }
        }
    
        .section-heding {
            padding: 10px 0;
            margin: 0;

            div {
                padding: 16px;
    
            h2 {
                padding: 0 0;
                margin: 0;
                max-width: auto;
                text-align: left;
            }
        }
        }
    }
}