.single-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .background-light-gray {
        height: 840px;
        width: 100vw;
        background-color: #38475F;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .date {
        font-family: Open Sans;
        font-size: 16px;
        line-height: 130%;
        margin: 0;
    }

    h1 {
    max-width: 700px;
    margin-top: 8px;
    margin-bottom: 0;
    }

    .summary {
        max-width: 500px;
        text-align: center;
        margin-bottom: 80px;
    }

    .news-img {
        margin: 0 56px;
        height: 755px;
        width: calc(100vw - 112px);
        object-fit: cover;
        max-width: 1440px;
    }

    span {
        margin-bottom: 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 652px;
        margin-bottom: 96px;

        figure {
            width: auto !important;
            text-align: center;
        }

        img {
            min-width: 600px;
            min-height: 600px;
            object-fit: cover;
        }
    }
}

.related {
    width: calc(100vw - 112px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 56px;

.related > a::after {
    content: " \2192";
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
}

    a {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        text-decoration: underline;
        color: #EBEBEB;
        margin: 0;
    }

    .more::after {
        content: " \2192";
        display: inline-block;
        margin-left: 8px;
        text-decoration: none;
    }

    .related-wrapper {
        padding: 0;
        margin-bottom: 246px;
        padding-top: 0px;
        max-width: 1440px;
        border-top: 1px solid #EBEBEB;

        .related-news-wrapper{
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .related-news-container{
            list-style: none;
            max-width: 427px;
            width: 100%;
            margin: 10px 0;
            padding: 0 1px;

        img {
            width: 100%;
            max-height: 216.61px;
            max-width: 427px;
        }

        .date {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            margin: 8px 0;
            line-height: 130%;
            color: #EBEBEB;
        }

        .title {
            font-family: EB Garamond;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            font-size: 24px;
            color: #EBEBEB;
            text-decoration: none;
            margin: 0;
            margin-bottom: 4px;
        }

        .title:hover {
            text-decoration: underline;
        }

        .summary {
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #EBEBEB;
            margin: 0;
            margin-top: 4px;
        }
    }
}
    }


    @media screen and (max-width: 960px) {

        .single-news {
            padding: 0 16px;
        
            .background-light-gray {
                height: 484px;
            }
        
            .date {
                font-family: EB Garamond;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;
            }
        
            h1 {
            font-size: 32px;
            line-height: 100%;
            font-weight: 600;
            max-width: 342px; 
            }
        
            .summary {
                max-width: 342px;
                margin-bottom: 32px;
            }
        
            .news-img {
                width: calc(100vw - 32px);
                height: 213.21px;
            }
        
            span {
                margin-bottom: 32px;
                font-size: 14px;
            }
        
            .content {
                width: calc(100vw - 32px);
                margin-bottom: 46px;
        
                figure {
                    width: calc(100vw - 32px) !important;
                    text-align: center;
                }

                p {
                    font-size: 16px;
                    margin-top: 15px;
                }

                .wp-caption-text {
                    font-size: 14px;
                }
        
                img {
                    min-width: 0;
                    width: calc(100vw - 32px);
                    min-height: 0;
                    object-fit: cover;
                }
            }
        }
        
        .related {
            width: calc(100vw - 32px);
            margin: 0;
            padding: 26px 16px;
            background-color: #8C8C8C;
        
        .related > a::after {
            content: " \2192";
            display: inline-block;
            margin-left: 8px;
            text-decoration: none;
        }
        
            a {
                font-family: EB Garamond;
                font-weight: bold;
            }
        
            .more::after {
                content: " \2192";
                display: inline-block;
                margin-left: 8px;
                text-decoration: none;
            }
        
            p {
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
            }
        
            .related-wrapper {
                margin-bottom: 20px;
        
                .related-news-wrapper{
                    display: flex;
                    flex-direction: column;
                }
        
                .related-news-container{
                    margin: 16px 0;
        
                .date {
                    font-family: EB Garamond;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                }
        
                .title {
                    font-weight: bold;
                    line-height: 120%;
                    font-size: 24px;
                }
        
                .summary {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    margin-top: 8px;
                    max-width: 100%;
                }
            }
        }
            }


    }
