// In this file you can keep all your Sass variables.
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


$font-primary: "EB Garamond","Poppins",-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-dark: #0D1117;
$color-dark01: #191D23;
$color-dark02: #1D2229;
$color-dark03: #1E242C;
$color-dark04: #20262E;
$color-dark05: #242B34;
$color-dark06: #262E37;
$color-dark07: #2A323C;
$color-dark08: #2B343F;
$color-dark09: #2E3742;

$h1-mobile: 18px;
$h1-small : 24px;
$h1-medium: 40px;
$h1-large : 72px;



$font-style: normal;




$color-grey: #777;
$color-darkGrey: #6b6b6b;
$color-light: #fff;

$color-pink: #d92d86;
$color-purple: #9f23fb;
$color-red: #f82634;
